body {
    background-color: rgb(255, 106, 243);
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

div.flex-align {
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    height: 100%;
  }

.img-w150 {
    width: 150px;
    border-radius: 50%;
}

.menu {
    margin-top: 15px;
}